<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>退会</title>
    <link href="/css/health.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <button class="back" id="back-btn">戻る</button>
    <h1>退会画面</h1>
</div>

<form action="/taikai" method="post" th:object="${logoutForm}">
    <fieldset style="background:ghostwhite; padding:10px; text-align:center;">
        <p>退会する場合はパスワードを入力してください</p>
        <div>
            <label>パスワード:</label>
            <input type="password" id="password" name="password" placeholder="PASS">
            <br><br>
            <div class="error" th:text="${passError}"> </div>
        </div>
        <button type="submit">退会</button>
    </fieldset>
</form>
<script>
    'use strict'

    document.getElementById('back-btn').addEventListener('click', () => {
      location.href = './menu'
    })
</script>
</body>
</html>